body {
  margin: 60px;
  font-family: "Helvetica","Futura LT",sans-serif;
  background-color: #979BAB;
  color: #FFF;
}

h1  {
    background-color: #B9287A;
    padding: 20px;
    margin-top: 20px;
    margin-left: px;
    margin-right:215px;
    text-align:center;
  }
font-size: 60px;
}
h3 {
font-size: 27px;
line-height: 120%;
}
p {
font-size: 18px;
line-height: 150%;
background-color:;
}

img {
  height: 500px;
}

input {
  color: #FFF;
  background-color:#B9287A;
  padding:20px;
}

img {
}
.kloan {
  height: 200px;
}
